SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DATABASE_URL=
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=SmartAdmin@2026
DEMO_DOCTOR_USERNAME=doctor
DEMO_DOCTOR_PASSWORD=DoctorDemo@2026
